<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.ls.dao.MylikeMapper">
    <resultMap id="BaseResultMap" type="com.bdqn.ls.pojo.Mylike">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="adminid" jdbcType="INTEGER" property="adminid"/>
        <result column="infoid" jdbcType="INTEGER" property="infoid"/>
    </resultMap>

    <select id="getList" resultType="com.bdqn.ls.pojo.Info">
    SELECT i.* FROM mylike m,info i WHERE m.infoid=i.id limit #{curr},#{limit}
  </select>
</mapper>