<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增人才信息页面</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>

</head>
<body class="layui-layout-body" style="background-color: white">
<div class="layui-layout layui-layout-admin">
    <!-- 抽取公共页面的头部及侧边栏 -->
    <div th:insert="~{common/head :: head}"></div>

    <div th:insert="~{common/sidebar :: side}"></div>

    <div class="layui-body" style="padding: 15px 0 0 15px">
        <blockquote class="layui-elem-quote layui-text">
            新增人才信息
        </blockquote>
        <div class="layui-form-item" id="addWorkDiv">
            <div class="layui-inline" id="workList">
                <label class="layui-form-label">工作经历</label>
                <button type="button" class="layui-btn">
                    <i class="layui-icon">&#xe654;</i> 添加
                </button>
                <button class="layui-btn" id="ok">确认信息</button>
                <label style="padding-left: 10px;color: red">提示：添加完工作经历并确认信息之后出现基本信息表
                    （如果添加一条信息后发现有误可以删除当前信息重新添加）</label>
            </div>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>公司名称</th>
                <th>职位</th>
                <th>薪资</th>
                <th>时间点</th>
                <th>补充内容</th>
                <th style="text-align: center" width="8%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="work:${session.workList}">
                <td th:text="${work.getGongsi()}"></td>
                <td th:text="${work.getZhiwei()}"></td>
                <td th:text="${work.getXinzhi()}"></td>
                <td th:text="${work.getTimedian()}"></td>
                <td th:text="${work.getComment()}"></td>
                <td align="center" width="8%">
                    <button type="button" class="layui-btn layui-btn-sm">
                        <i class="layui-icon">&#xe640;</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <form class="layui-form" action="/info/doAdd" method="post" id="form1" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input name="name" class="layui-input" type="text" placeholder="请输入" autocomplete="off"
                           lay-verify="required" lay-reqtext="姓名是必填项，岂能为空？">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-block">
                    <input name="age" class="layui-input" type="text" placeholder="请输入" autocomplete="off"
                           lay-verify="required" lay-reqtext="年龄是必填项，岂能为空？">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input name="phone" class="layui-input" type="tel" autocomplete="off"
                               lay-verify="required|phone">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input name="email" class="layui-input" type="text" autocomplete="off" lay-verify="email">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">出生日期</label>
                    <div class="layui-input-inline">
                        <input name="birthday" class="layui-input" id="date" type="text" placeholder="yyyy-MM-dd"
                               autocomplete="off" lay-verify="date">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input name="sex" title="男" type="radio" checked="" value="男">
                    <input name="sex" title="女" type="radio" value="女">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">职业类型</label>
                <div class="layui-input-block">
                    <select name="levelid" lay-filter="levelid">
                        <option value="0">请选择</option>
                        <option th:each="type:${typeList}" th:value="${type.getId()}"
                                th:text="${type.getName()}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">人才等级</label>
                <div class="layui-input-block">
                    <select name="typeid" lay-filter="type">

                        <option value="0">请选择</option>
                        <option th:each="level:${levelList}" th:value="${level.getId()}"
                                th:text="${level.getName()}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性格</label>
                <div class="layui-input-block">
                    <input name="xingge" class="layui-input" type="text" placeholder="请输入">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">爱好</label>
                <div class="layui-input-block">
                    <input name="like" class="layui-input" type="text" placeholder="请输入">
                </div>
            </div>

        <div class="layui-form-item">
                <label class="layui-form-label">教育背景</label>
                <div class="layui-inline">
                    <input name="teachback.school" class="layui-input" type="text" placeholder="毕业院校">
                </div>
                <div class="layui-inline">
                    <input name="teachback.zuanye" class="layui-input" type="text" placeholder="所学专业">
                </div>
                <div class="layui-inline">
                    <input name="teachback.xueli" class="layui-input" type="text" placeholder="学历">
                </div>
                <div class="layui-inline">
                    <input name="teachback.startime" class="layui-input" type="text" placeholder="在校时间" id="date1">
                </div>
                <div class="layui-inline" style="margin-right: 0">
                    <input name="teachback.comment" class="layui-input" type="text" placeholder="在校表现"
                           style="width: 393px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">现住址</label>
                <div class="layui-input-block">
                    <input name="adress" class="layui-input" type="text" placeholder="请输入">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">工作状态</label>
                    <div class="layui-input-block">
                        <input name="isgo" value="1" title="跳槽意向" type="checkbox">
                        <input name="isrenzhi" value="1" title="是否在职" type="checkbox" checked="">

                    </div>
                </div>

            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入内容" name="comment"></textarea>
                </div>
            </div>
            <!--<div class="layui-form-item layui-form-text">
              <label class="layui-form-label">编辑器</label>
              <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
              </div>
            </div>-->
            <div class="layui-form-item">
                <div class="layui-inline" style="margin-left: 110px;padding-top: 21px;line-height:0px;height: 400px">
                    <div class="layui-upload">
                        <button class="layui-btn" id="test1" type="button"><i class="layui-icon">&#xe67c;</i>上传照片
                        </button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" style="height: 160px;width: 130px;" id="demo1">
                            <p id="demoText"></p>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="photo" id="photo">
                <div class="layui-inline" style="margin-left: 620px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="submit" lay-filter="demo1" lay-submit="">立即提交</button>
                        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                    </div>
                </div>
                <input type="hidden" name="work">
            </div>
        </form>
    </div>
    <div id="addworklisi" style="display: none;padding: 15px;">
        <form class="layui-form" action="/info/addWork" method="post" onsubmit="return check()">
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-block">
                    <input name="gongsi" class="layui-input" type="text" lay-verify="required" lay-reqtext="所有信息不能为空！">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block">
                    <input name="zhiwei" class="layui-input" type="text" lay-verify="required" lay-reqtext="所有信息不能为空！">
                </div>
            </div>
            <div class="layui-form-item">

                <label class="layui-form-label">薪资</label>
                <div class="layui-input-block">
                    <input name="xinzhi" class="layui-input" type="text" lay-verify="required" lay-reqtext="所有信息不能为空！">
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-inline" style="margin-right: 0">
                    <label class="layui-form-label">时间点</label>
                    <div class="layui-input-block">
                        <input style="width: 169px;display: inline" id="date2" class="layui-input" type="text"
                               placeholder="起始时间" autocomplete="off" lay-verify="date" th:name="date2">
                        到
                        <input style="width: 169px;display: inline;" id="date3" class="layui-input" type="text"
                               placeholder="结束时间" autocomplete="off" lay-verify="date" th:name="date3">
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">补充内容</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入内容" name="comment" lay-verify="required"
                              lay-reqtext="所有信息不能为空！" id="comment"></textarea>
                </div>
            </div>
            <input type="hidden" name="timedian" id="timedian">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary" type="reset" style="margin-left: 150px;margin-right: 10px">
                    重置
                </button>
                <button class="layui-btn" type="submit" id="save" lay-filter="demo1">保存</button>
            </div>
        </form>
    </div>

    <div th:replace="~{common/foot :: foot}"></div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Layui Js -->
<script type="text/javascript" src="/layui/layui.js"></script>
<script>

    function check() {
        var text;
        text = $("input[name='gongsi']").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写公司名");
            return false;
        }
        text = $("input[name='zhiwei']").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写职位");
            return false;
        }
        text = $("input[name='xinzhi']").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写薪资");
            return false;
        }
        text = $("input[name='date2']").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写起始时间");
            return false;
        }
        text = $("input[name='date3']").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写结束时间");
            return false;
        }
        text = $("#comment").val();
        if (text == null || text.trim() == "") {
            layer.msg("请填写补充内容（可随意填写）");
            return false;
        }
        return true;
    }

    $("tr button").bind("click", function () {
        var index = $("tr button").index(this);
        location.href = "/info/delWork?index=" + index;
    });

    $("#ok").click(function () {
        if (confirm("确认后将不可更改，是否确认信息？")) {
            $("tr button").removeClass("layui-btn").addClass("layui-btn-disabled").unbind("click");
            $("#addWorkDiv").slideUp("slow");
            $("#form1").fadeIn("slow");
            var infoCount = $("tbody tr").length;
            if (infoCount <= 0) {
                $("table.layui-table tr").html("<th style='color: red'>无工作历史</th>");
            }
        }
    });

    layui.use('layer', function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        $(".layui-btn:eq(0)").click(function () {
            layer.open({
                type: 1,
                area: ['500px', '500px'],
                title: "添加工作经历",
                skin: 'layui-layer-molv',
                content: $('#addworklisi'), //这里content是一个div
                closeBtn: 1,
                btnAlign: 'c',
                anim: 5
            })
        })

    });
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/info/upload'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                } else {
                    $("#photo").val(res.data["src"]);
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date2'
        });

        laydate.render({
            elem: '#date3'
        });


        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });


    });
</script>
</body>
</html>